{
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "comma-dangle": [
        2
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-console": 0
  },
  "parser": "babel-eslint",
  "plugins": [],
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "import": true,
    "jsx": false,
    "globalReturn": true
  },
  "extends": "eslint:recommended"
}
